<% provide(:title, 'About us') %>

<h1>About Us</h1>
<p class="center">
  This <a href="http://***.org/">web</a>
  is a project to make a good feeling of words & world.And feed your skill level on development
  with programing. This
  is the application for <a href="http://***.org/">coder-man</a>.
</p>