- provide(:title, 'About us')
%h1 About Us
%p.center
  This
  %a{:href => "http://***.org/"} web
  is a project to make a good feeling of words & world.And feed your skill level on development
  with programing. This
  is the application for
  = succeed "." do
    %a{:href => "http://***.org/"} coder-man