- provide(:title, 'help')
%h1 Help
%p.center
  I'm sorry for not writing anything here,but it won't be thus forever.
%p.center
  You can visit my site on my
  = succeed "." do
    %a{:href => "http://my.oschina.net/u/923930/blog"} OSChina-blog
  Or see the
  %a{:href => "http://user.qzone.qq.com/745202942"} Qzone
  of mine.