<% @user ||= current_user %>
<div class="stats">
  <a href="<%= following_user_path(@user) %>" >
    我关注&nbsp&nbsp&nbsp&nbsp&nbsp
    </br>
    <strong id="following" class="stat text-right">
      </hr>
      <%= @user.followed_users.count %>
    </strong>
  </a>
  <a href="<%= followers_user_path(@user) %>" >
    </br>
    <strong id="followers" class="stat text-left">
      <%= @user.followers.count %>
    </strong>
    &nbsp&nbsp&nbsp&nbsp&nbsp关注我
  </a>
</div>