%footer.footer
  %small
    Build by Channely through
    %a{:href => "http://guides.rubyonrails.org/"} Rails
  %nav
    %ul
      %li= link_to "About",   about_path
      %li= link_to "Contact", contact_path
      %li
        %a{:href => "http://cn.wsj.com/gb/"} News
